<header>
  <a href="/"><p>Fancy Club</p></a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
  </nav>
  <div>
    <% if(!locals.user || !user) {%>
    <a href="/user/login">Login</a>
    <% } else { %>
    <span>Welcome, <%= user.name %></span>
    <% if(!user.is_club_member) { %>
    <a href="/user/join_membership/">Join the membership</a>
    <% } %>
    <% if(!user.is_admin) { %>
    <a href="/user/join_admin/">Join the admin team</a>
    <% } %>
    <a href="/user/logout">Logout</a>
    <% } %>
  </div>
</header>
